<!doctype html>
<title>Ready to go!</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>We&rsquo;re ready for demo!</h1>
    <div>
        <p>Take a deep breath and dive into our beautiful project! If you need to you can always <a href="https://www.linkedin.com/in/aram-zhamkochyan-b26601137/">contact us</a>, otherwise we&rsquo;ll find you ourselves!</p>
        <p>&mdash; Bet B Team</p>
    </div>
</article>